 #extraspecial {
     color: red;
 }

 .special {
     color: green;
 }

 body {
     color: blue;
     font-family: Arial;
 }

 p {
     line-height: 2em;

     body {
         background-color: white;
     }

     h1 {
         color: blue;
     }